body{font-family: Arial, Helvetica, sans-serif;
background-color: rgb(187, 89, 143);
}
header{
background-color: rgb(166, 114, 179);
padding: 16px;
margin: 0 auto;
}
section{
background-color: white;
padding: 16px;
margin: 16px;
max-width: 500px;
}
.conteudo-site{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}